@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}